/* 主题颜色 */
:root {
    --main-dark: #333333;
    --main-gary: #999999;
    --main-blue: #79A0CA;
    --main-red: #D55959;
    --main-yellow: #DAAD68;
    --main-green: #00BFA5;
    --main-white: #F5F5F5
}

/* 字体 */
@font-face {
    font-family: pfj;
    src: url("../font/pfj.otf");
}

/* 界面默认背景颜色和字体 */
html {
    height: 100%;
    width: 100%;

    font-family: "pfj";
    color: white;
    font-weight: bold;

    background-color: var(--main-blue);
}

/* 毛玻璃特效 */
.glass {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background: rgba(121, 160, 202, 0.9);

    /*background-color: rgba(121,160,202,0.9);*/
}


/* 充填顶部或底部 */
.fill {
    height: 50px;
    border-bottom: white ridge 1px;
}